fastapi~=0.115.12
uvicorn
langgraph
langchain~=0.3.24
langchain-core~=0.3.55
langchain-community~=0.3.22
langchain-huggingface
langchain-text-splitters~=0.3.8
langchain-chroma
transformers
torch
chromadb
python-multipart
bitsandbytes
accelerate
google-search-results
tqdm
unstructured
beautifulsoup4
text-generation
google-search-results
numexpr
jinja2
sentence-transformers
python-multipart
requests~=2.32.3
pydantic~=2.11.3
python-magic-bin
streamlit
streamlit-browser-language
einops
